.hero {
    background: url("../images/cross.jpg") no-repeat;
    background-size: cover;
    background-position: top center;
    padding: var(--section-padding) 0;
    height: 100vh;
    max-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: -50px;
    /* position: relative; */
    /* width:100%; */
}