#pastor-image{
    display:block;
    margin: auto;
    border-radius: 50%;
    padding-bottom: 20px;
}

#padding{
    padding-bottom: 0px;
}

#quote{
    text-align: center;
    font-size: 1.25em;
    font-style: italic;
}