#pastor-image{
    display:block;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 1px solid #B09A69
}



#padding{
    padding-bottom: 0px;
}

#quote{
    font-size: 1.25em;
    font-style: italic;
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    max-width: 71%;
    margin-left: auto;
    margin-right: auto;
}
  
.flex-container > div {
    margin: 10px;
}

h4{
    text-align: center;
}